
.Home{
    font-family: "lora";
}

.panda-offcanvas {
    max-width: 70% !important;
  }
  .carousel-item {
    background-color: #fceae8;
  }
  .category h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    width: 65%;
    color: black;
  }
  .category img {
    width: 35%;
  }
  .category1 {
    background-color: #ffa500;
  }
  .category2 {
    background-color: #da70d6;
  }
  .category3 {
    background-color: #0000ff;
  }
  .subscribe_now {
    background-color: #fceae8;
  }
  .homebtn {
    
   
    background-color: var(--primary-green);
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    transition: background-image 1s linear;
  }
  .homebtn a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
  }
  .homebtn:hover {
    background-color: var(--primary-green);
    transition: 0.5s linear;
  }
  .homebtn:hover a {
    color: #ffffff;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 5% !important;
  }
  footer p {
    font-size: 13px;
  }